body{

}

.top{
  width: 100%;
  display: inline-block;
  height: 100px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

                /*  ----  characters side ---- */
.characters-side{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.char-display{
 /* width: 32%;*/
  border: black 1px solid;
}

.char-size{
  width: 200px;
  height: 200px;
}
              /*  ----  quotes side  ---- */

.quotes-side{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}



.quote-display{
  border: black 1px solid;
  width: 200px;
  height: 200px;
}
